@charset "utf-8";

/*reset*/
* {
  padding: 0;
  margin: 0;
}
html,
body,
div,
span,
a,
ul,
li,
tr,
th {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

a img {
  border: none;
}
li {
  list-style: none;
}
address,
em,
i {
  font-style: normal;
}
.wrap {
  width: 100%;
  overflow: hidden;
}

/*header*/
header {
  width: 100%;
  position: fixed;
}
